{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="http://lospae.local/assets/css/pages/login.css" />
{% endblock %}

{% block body %}
    <div id="auth">
        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div id="header" class="d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <a href="http://lospae.local">LOSPAÉ</a>
                        </div>
                        {% include "includes/components/theme_toggle.html.twig" %}
                    </div>

                    <h1 class="auth-title">Connexion</h1>
                    <p class="auth-subtitle mb-5">Utilisez vos identifiants pour accéder à vos données.</p>

                    <form action="index.html">
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="text" class="form-control form-control-xl" placeholder="Adresse e-mail">
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="password" class="form-control form-control-xl" placeholder="Mot de passe">
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Se connecter</button>
                    </form>
                    <div class="text-center mt-5 text-lg fs-4">
                        <!--<p class="text-gray-600">Pas encore de compte ? <a href="#" class="font-bold">Inscrivez-vous</a>.</p>-->
                        <p><a class="font-bold" href="auth-forgot-password.html">Mot de passe oublié ?</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="http://lospae.local/template/static/js/components/dark.js"></script>
{% endblock %}