<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>Version {{ lospae_version }} - <a href="{{ path('changelog') }}">Notes de version</a></p>
        </div>
        <div class="float-end">
            <p>Thème par <a href="https://saugi.me" target="_blank">Saugi</a>. &copy; 2024, Corentin KREICHER.</p>
        </div>
    </div>
</footer>