<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>LOSPAÉ | Code de vérification d'identité</title>
        <meta charset="UTF-8" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% apply inline_css(source('@assets/css/email.css')) %}
            <div id="header">
                <div id="logo">LOSPAÉ</div>
                <div id="beta"><span class="badge bg-danger">BETA</span></div>
            </div>

            <br /><br />

            <h1>Vérification d'identité</h1>

            <br />

            <p>{{ user.firstName }} {{ user.lastName }}</p>

            <br /><br />

            <p>Il semble que vous avez besoin d'aide pour récupérer l'accès à votre compte.</p>
            <p>Pour changer de mot de passe, saisissez le code suivant sur LOSPAÉ :</p>

            <br />

            <p class="text-center" style="font-size: 2.7rem; color: #435ebe;">{{ recoveryCode }}</p>

            <br />

            <p>Ce code sera valide pendant 30 minutes à compter de son envoi.</p>

            <br /><br />

            <p>Bonne journée,<br />LOSPAÉ.</p>
        {% endapply %}
    </body>
</html>
