body {
    background-color: var(--bs-body-bg)
}

.logo {
    margin-right: 10px;
}

#auth {
    height: 100vh;
    overflow-x: hidden
}

#auth #auth-right, html[data-bs-theme=dark] #auth-right {
    background-image: url("../../img/pages/login_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20rem center;
}

#auth #auth-right {
    height: 100%;
}

#auth #auth-left {
    padding: 5rem
}

#auth #auth-left .auth-title {
    margin-bottom: 1rem
}

#auth #auth-left .auth-subtitle {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #a8aebb
}

#auth #auth-left #header {
    margin-bottom: 7rem;
}

#auth #auth-left .logo {
    font-size: 35px;
    font-weight: bold;
}

@media screen and (max-width: 1399.9px) {
    #auth #auth-left {
        padding: 3rem
    }
}

@media screen and (max-width: 767px) {
    #auth #auth-left {
        padding: 5rem
    }
}

@media screen and (max-width: 576px) {
    #auth #auth-left {
        padding: 5rem 3rem
    }
}