{% extends "base.html.twig" %}

{% block title %}Notes de version{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
{% endblock %}

{% block body %}
    <div id="app">
        {% include "includes/components/sidebar.html.twig" %}

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Notes de version</h3>
                <p class="text-muted">Cette page liste toutes les modifications apportées à chacune des versions publiées de LOSPAÉ. Les versions sont classées de la plus récente à la plus ancienne.</p>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Liste des versions</h4>
                            </div>

                            <div class="card-body">
                                <div class="accordion" id="changelogAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#v3_3_2" aria-expanded="true" aria-controls="v3_3_2">
                                                Version 3.3.2 <em>(sortie le 24/01/2025)</em>
                                            </button>
                                        </h2>

                                        <div id="v3_3_2" class="accordion-collapse collapse show" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <p><em>Depuis la sortie de cette version, LOSPAE est désormais <a href="https://github.com/InFinity54/LOSPAE" target="_blank">open source</a>.</em></p>

                                                <ul>
                                                    <li>Correction de la régénération des mots de passe par un enseignant</li>
                                                    <li>Retrait de la possibilité d'obtenir des espaces dans les mots de passe des comptes utilisateurs</li>
                                                    <li>Préparation du dépôt Git de LOSPAÉ pour un accès open source</li>
                                                    <li>Ajout du lien vers le dépôt Git (désormais ouvert au public) de LOSPAÉ dans le pied de page du site</li>
                                                    <li>Correction de la pagination dans l'administration du site</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v3_3_1" aria-expanded="true" aria-controls="v3_3_1">
                                                Version 3.3.1 <em>(sortie le 07/01/2025)</em>
                                            </button>
                                        </h2>

                                        <div id="v3_3_1" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>LOSPAÉ est désormais hébergé par un serveur qui lui est propre</li>
                                                    <li>Le certificat SSL de LOSPAÉ a été régénéré et est désormais adapté à son serveur et son nom de domaine</li>
                                                    <li>L'adresse et le certificat SSL de LOSPAÉ ne devrait désormais plus poser de problèmes d'accès depuis l'établissement</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v3_3_0" aria-expanded="true" aria-controls="v3_3_0">
                                                Version 3.3.0 <em>(sortie le 15/12/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v3_3_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Correction d'une erreur dans la commande permettant d'exécuter la tâche CRON du site</li>
                                                    <li>Un critère de notation d'un enseignant ne peut plus être supprimé s'il a été utilisé au moins une fois pour modifier une note</li>
                                                    <li>Ajout de la suppression d'une promotion par l'administrateur</li>
                                                    <li>Correction de la suppression d'un établissement scolaire par l'administrateur</li>
                                                    <li>Correction de l'affichage du texte en cas d'absence d'établissements scolaires dans l'administration</li>
                                                    <li>Correction de vulnérabilités dans le code de l'application</li>
                                                    <li>Mise à jour de Symfony 6 vers Symfony 7</li>
                                                    <li>Modification des paramètres de production suite à la nouvelle adresse du site</li>
                                                    <li>Blocage de l'accès direct aux photos de profil</li>
                                                    <li>Ajout de la possibilité de retirer un étudiant d'une promotion</li>
                                                    <li>Refonte de la réinitialisation des notes, désormais propres aux enseignants</li>
                                                    <li>Ajout du favicon aux fichiers accessibles durant une maintenance</li>
                                                    <li>Ajout d'une fonctionnalité de réinitialisation des mots de passe perdus des étudiants par les enseignants</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v3_2_2" aria-expanded="true" aria-controls="v3_2_2">
                                                Version 3.2.2 <em>(sortie le 25/11/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v3_2_2" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Correction d'une erreur lors de la suppression définitive d'un étudiant</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v3_2_1" aria-expanded="true" aria-controls="v3_2_1">
                                                Version 3.2.1 <em>(sortie le 16/10/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v3_2_1" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Retrait d'un badge Béta oublié dans le changelog</li>
                                                    <li>Retrait de la mention de l'absence des versions antérieures à la 2.0.0 du changelog, ces dernières ayant été ajoutées entre temps</li>
                                                    <li>Ajout du nom et du lien vers le thème utilisé dans le pied de page</li>
                                                    <li>Ajout d'une précision sur la visibilité de l'avatar dans le profil utilisateur</li>
                                                    <li>Correction de la modification des notes, qui utilisait la liste globale des critères au lieu des critères de l'enseignant</li>
                                                    <li>Correction de la liste des enseignants sur les pages des comptes étudiants</li>
                                                    <li>Correction de l'affichage du texte en cas d'absence de modifications effectuées par un enseignant</li>
                                                    <li>Correction de l'affichage du texte en cas d'absence de critères d'un enseignant</li>
                                                    <li>Correction de l'affichage des modalités nulles des critières</li>
                                                    <li>Correction des données utilisées par le bilan des promotions de l'enseignant</li>
                                                    <li>Correction d'une erreur lors de la récupération de la promotion d'un étudiant sur son profil</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v3_2_0" aria-expanded="true" aria-controls="v3_2_0">
                                                Version 3.2.0 <em>(sortie le 13/10/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v3_2_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <p><em>LOSPAÉ est sorti de sa deuxième béta test à la publication de cette version.</em></p>

                                                <ul>
                                                    <li>Ajout d'un nombre d'occurrences à la modification de note simple</li>
                                                    <li>Ajout d'un nombre d'occurrences à la modification de note multiple</li>
                                                    <li>Correction du fuseau horaire utilisé par le site</li>
                                                    <li>Ajout de l'affichage multi-promotion côté enseignant sur le suivi des notes</li>
                                                    <li>Changement de la photo de l'écran de connexion, par une photo de la N21 de Chopin</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v3_1_1" aria-expanded="true" aria-controls="v3_1_1">
                                                Version 3.1.1 <span class="badge bg-danger">BETA</span> <em>(sortie le 13/10/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v3_1_1" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Correction d'une erreur 500 lors de l'ajout d'un nouveau critère par un enseignant</li>
                                                    <li>Correction de problèmes dans la gestion des affectations de plusieurs promotions à un enseignant</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v3_1_0" aria-expanded="true" aria-controls="v3_1_0">
                                                Version 3.1.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 08/10/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v3_1_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Correction d'un problème d'affichage des noms des enseignants côté étudiant en mode clair</li>
                                                    <li>Correction d'un bug empêchant le fonctionnement des onglets dans les pages</li>
                                                    <li>Correction de la vérification des droits d'accès pour la réinitialisation des notes des étudiants</li>
                                                    <li>Conversion de la réinitialisation des notes des étudiants au système multi-enseignant</li>
                                                    <li>Correction de l'ordre d'affichage des modifications dans les différents historiques</li>
                                                    <li>Mise à jour du texte du message pour les comptes désactivés pour refléter le nouveau fonctionnement de l'application</li>
                                                    <li>Les critères sont désormais propres à chaque enseignant</li>
                                                    <li>La désactivation d'un étudiant ne retire plus son affectation et sa note actuelle</li>
                                                    <li>Correction de l'emplacement de PHP sur le serveur de production pour la tâche CRON</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v3_0_0" aria-expanded="true" aria-controls="v3_0_0">
                                                Version 3.0.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 07/10/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v3_0_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <p><em>En raison de nombreuses et importantes modifications apportées à LOSPAÉ sur cette version, l'application est repassée en bêta pour quelques semaines.<br />À partir de cette version, l'application est désormais capable de gérer plusieurs enseignants, qui disposent de leurs propres accès en écriture à l'application.</em></p>

                                                <ul>
                                                    <li>LOSPAÉ est désormais multi-promotions : vous pouvez désormais avoir des notes différentes par plusieurs enseignants.</li>
                                                    <li>Correction d'un bug dans l'affichage de l'historique des modifications des comptes étudiants</li>
                                                    <li>Dans la modération des avatars, seuls les utilisateurs ayant modifié leur avatar sont désormais affichés</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_8_2" aria-expanded="true" aria-controls="v2_8_2">
                                                Version 2.8.2 <em>(sortie le 10/09/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_8_2" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Correction d'une faille de sécurité détectée dans l'application</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_8_1" aria-expanded="true" aria-controls="v2_8_1">
                                                Version 2.8.1 <em>(sortie le 08/09/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_8_1" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Création d'un fichier PHP permettant l'exécution de la tâche CRON, pour se conformer aux règles de sécurité d'OVH</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_8_0" aria-expanded="true" aria-controls="v2_8_0">
                                                Version 2.8.0 <em>(sortie le 08/09/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_8_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Ajout d'une fonctionnalité de réinitialisation des notes depuis la liste des utilisateurs dans l'administration</li>
                                                    <li>Correction de la gestion des accents à l'importation d'utilisateurs, qui entraînait la création de mots de passe inutilisables</li>
                                                    <li>Correction d'un bug où, si la photo de profil d'un utilisateur a été supprimée manuellement, la modération des avatars n'est plus en mesure de réinitialiser la photo de profil de l'utilisateur</li>
                                                    <li>À la suppression d'un utilisateur qui a changé sa photo de profil, le fichier correspondant est désormais supprimé définitivement du serveur</li>
                                                    <li>Ajout d'une tâche CRON permettant de supprimer automatiquement les documents générés par LOSPAÉ du serveur après 24 heures</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_7_0" aria-expanded="true" aria-controls="v2_7_0">
                                                Version 2.7.0 <em>(sortie le 25/08/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_7_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Mise à jour des dépendances et correction de diverses vulnérabilités</li>
                                                    <li>Ajout d'une sélection multiple dans la liste des utilisateurs dans l'administration</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_6_0" aria-expanded="true" aria-controls="v2_6_0">
                                                Version 2.6.0 <em>(sortie le 07/05/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_6_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <p><em>LOSPAÉ est sorti de béta test à la publication de cette version.</em></p>

                                                <ul>
                                                    <li>Correction du nombre total d'opérations sur l'accueil enseignant, qui était fixé à zéro</li>
                                                    <li>Correction d'un bug dans l'activation des comptes</li>
                                                    <li>Correction et amélioration de la vérification des droits d'accès aux pages et des redirections associées</li>
                                                    <li>Ajout des traductions manquantes des messages systèmes</li>
                                                    <li>Amélioration de la page d'accueil des étudiants : un message s'affiche désormais si aucune modification n'a été apportée à la note au lieu d'un tableau vide.</li>
                                                    <li>Ajout d'un page de changelog (accessible à tous les comptes authentifiés)</li>
                                                    <li>Ajout d'une note sur la déconnexion en cas de changement de mot de passe ou de mail sur les profils</li>
                                                    <li>Ajout d'une fonctionnalité de bilan de points pour les étudiants, permettant de voir combien de points ont été gagnés et perdus</li>
                                                    <li>Ajout d'une fonctionnalité de bilan de points pour les étudiants, permettant de voir combien de points ont été gagnés et perdus</li>
                                                    <li>Ajout d'une fonctionnalité de bilan de points pour les enseignants, pour permettre de voir quels sont les critères les plus utilisés</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_5_0" aria-expanded="true" aria-controls="v2_5_0">
                                                Version 2.5.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 01/04/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_5_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Ajout d'une fonctionnalité d'importation de comptes utilisateurs (via fichiers CSV)</li>
                                                    <li>Suppression de la possibilité de s'inscrire manuellement à LOSPAÉ</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_4_0" aria-expanded="true" aria-controls="v2_4_0">
                                                Version 2.4.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 21/03/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_4_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Correction de la taille du texte sur mobile</li>
                                                    <li>Pages d'erreurs personnalisées</li>
                                                    <li>Ajout d'un tri par notes sur la page de suivi des notes par l'enseignant</li>
                                                    <li>Ajout d'un choix du tri affiché sur la page de suivi des notes par l'enseignant</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_3_0" aria-expanded="true" aria-controls="v2_3_0">
                                                Version 2.3.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 21/03/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_3_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Possibilité, pour un enseignant, de modifier plusieurs notes à la fois selon plusieurs critères simultanément</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_2_0" aria-expanded="true" aria-controls="v2_2_0">
                                                Version 2.2.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 16/03/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_2_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Ajout d'une modération des photos de profil des utilisateurs</li>
                                                    <li>Modification de la redirection après la modification de la note d'un étudiant : L'utilisateur revient désormais sur le formulaire de modification d'une note, ce qui permet d'enchaîner plus rapidement plusieurs notes.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_1_0" aria-expanded="true" aria-controls="v2_1_0">
                                                Version 2.1.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 16/03/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_1_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Ajout du serveur SMTP du site</li>
                                                    <li>Récupération des mots de passe oubliés</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_0_0" aria-expanded="true" aria-controls="v2_0_0">
                                                Version 2.0.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 13/03/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_0_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <p><em>Ceci est la première version publiée de LOSPAÉ qui a été développée en PHP. Les étudiants disposent, depuis cette version, d'un accès en lecture à l'application.<br />Suite au passage du logiciel Windows privé au site Web public, LOSPAÉ est passé en bêta durant quelques semaines afin de s'assurer du bon fonctionnement de l'application en situation réelle.</em></p>

                                                <ul>
                                                    <li>Refonte complète de l'application sous forme d'un site Web</li>
                                                    <li>Accessibilité de l'application depuis un ordinateur, un smartphone ou encore une tablette</li>
                                                    <li>Accessibilité de l'application via des comptes utilisateurs, y compris par les étudiants</li>
                                                    <li>Suppression de la fonctionnalité d'édition automatisée de bulletin de retenus (inutile en raison du nombre de retenues distribuées jusqu'à maintenant)</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v1_5_0" aria-expanded="true" aria-controls="v1_5_0">
                                                Version 1.5.0 <span class="badge bg-info">PROTOTYPE</span> <em>(sortie le 21/02/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v1_5_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <p><em>Cette version fût la dernière développée en C# à un usage privé et disposant du statut de prototype.</em></p>

                                                <ul>
                                                    <li>Fonctionnalité d'annulation d'une opération sur une note, depuis l'historique des modifications</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v1_4_1" aria-expanded="true" aria-controls="v1_4_1">
                                                Version 1.4.1 <span class="badge bg-info">PROTOTYPE</span> <em>(sortie le 14/02/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v1_4_1" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Correction de la disposition du formulaire de génération de bulletin de retenue</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v1_4_0" aria-expanded="true" aria-controls="v1_4_0">
                                                Version 1.4.0 <span class="badge bg-info">PROTOTYPE</span> <em>(sortie le 11/02/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v1_4_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Fonctionnalité d'édition de bulletin de retenue</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v1_3_0" aria-expanded="true" aria-controls="v1_3_0">
                                                Version 1.3.0 <span class="badge bg-info">PROTOTYPE</span> <em>(sortie le 09/02/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v1_3_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Bulles d'aide sur les boutons d'actions de la page de mise à jour des notes, contenant le motif de chaque action</li>
                                                    <li>Ajout des actions TP14, TP15 et DS5 concernant l'ajout ou le retrait de points</li>
                                                    <li>Fonctionnalité de suppression d'un étudiant, depuis la page de mise à jour des notes</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v1_2_1" aria-expanded="true" aria-controls="v1_2_1">
                                                Version 1.2.1 <span class="badge bg-info">PROTOTYPE</span> <em>(sortie le 09/02/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v1_2_1" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Redémarrage de l'application lors d'un changement du dossier d'enregistrement de la base de données</li>
                                                    <li>Correction des textes de certains boutons d'actions sur la page de mise à jour des notes qui n'apparaissaient pas
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v1_2_0" aria-expanded="true" aria-controls="v1_2_0">
                                                Version 1.2.0 <span class="badge bg-info">PROTOTYPE</span> <em>(sortie le 09/02/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v1_2_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Ajout de l'action CP14 concernant l'ajout ou le retrait de points</li>
                                                    <li>Modification des valeurs retirées par les actions CP1 et CP2</li>
                                                    <li>Correction de l'entrée ajoutée dans l'historique par l'action CP13</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v1_1_0" aria-expanded="true" aria-controls="v1_1_0">
                                                Version 1.1.0 <span class="badge bg-info">PROTOTYPE</span> <em>(sortie le 10/01/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v1_1_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Ajout des actions TP12 et TP13 concernant l'ajout ou le retrait de points</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v1_0_0" aria-expanded="true" aria-controls="v1_0_0">
                                                Version 1.0.0 <span class="badge bg-info">PROTOTYPE</span> <em>(sortie le 10/01/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v1_0_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <p><em>Ceci est la première version publiée de LOSPAÉ. L'application était développée en C# et n'était pas utilisable par les étudiants à ce stade de son développement.</em></p>

                                                <ul>
                                                    <li>Ajout des actions TP12 et TP13 concernant l'ajout ou le retrait de points</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "includes/components/footer.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}