{% extends "base.html.twig" %}

{% block title %}Notes de version{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
{% endblock %}

{% block body %}
    <div id="app">
        {% include "includes/components/sidebar.html.twig" %}

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Notes de version</h3>
                <p class="text-muted">Cette page liste toutes les modifications apportées à chacune des versions publiées de LOSPAÉ. Les versions antérieures à la version 2.0.0 ne sont pas listées, en raison du changement applicatif apportée à l'application lors de cette version. Les versions sont classées de la plus récente à la plus ancienne.</p>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Liste des versions</h4>
                            </div>

                            <div class="card-body">
                                <div class="accordion" id="changelogAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#v2_6_0" aria-expanded="true" aria-controls="v2_6_0">
                                                Version 2.6.0 <em>(sortie le 07/05/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_6_0" class="accordion-collapse collapse show" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <p><em>LOSPAÉ est sorti de béta test à la publication de cette version.</em></p>

                                                <ul>
                                                    <li>Correction du nombre total d'opérations sur l'accueil enseignant, qui était fixé à zéro</li>
                                                    <li>Correction d'un bug dans l'activation des comptes</li>
                                                    <li>Correction et amélioration de la vérification des droits d'accès aux pages et des redirections associées</li>
                                                    <li>Ajout des traductions manquantes des messages systèmes</li>
                                                    <li>Amélioration de la page d'accueil des étudiants : un message s'affiche désormais si aucune modification n'a été apportée à la note au lieu d'un tableau vide.</li>
                                                    <li>Ajout d'un page de changelog (accessible à tous les comptes authentifiés)</li>
                                                    <li>Ajout d'une note sur la déconnexion en cas de changement de mot de passe ou de mail sur les profils</li>
                                                    <li>Ajout d'une fonctionnalité de bilan de points pour les étudiants, permettant de voir combien de points ont été gagnés et perdus</li>
                                                    <li>Ajout d'une fonctionnalité de bilan de points pour les étudiants, permettant de voir combien de points ont été gagnés et perdus</li>
                                                    <li>Ajout d'une fonctionnalité de bilan de points pour les enseignants, pour permettre de voir quels sont les critères les plus utilisés</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_5_0" aria-expanded="true" aria-controls="v2_5_0">
                                                Version 2.5.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 01/04/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_5_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Ajout d'une fonctionnalité d'importation de comptes utilisateurs (via fichiers CSV)</li>
                                                    <li>Suppression de la possibilité de s'inscrire manuellement à LOSPAÉ</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_4_0" aria-expanded="true" aria-controls="v2_4_0">
                                                Version 2.4.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 21/03/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_4_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Correction de la taille du texte sur mobile</li>
                                                    <li>Pages d'erreurs personnalisées</li>
                                                    <li>Ajout d'un tri par notes sur la page de suivi des notes par l'enseignant</li>
                                                    <li>Ajout d'un choix du tri affiché sur la page de suivi des notes par l'enseignant</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_3_0" aria-expanded="true" aria-controls="v2_3_0">
                                                Version 2.3.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 21/03/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_3_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Possibilité, pour un enseignant, de modifier plusieurs notes à la fois selon plusieurs critères simultanément</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_2_0" aria-expanded="true" aria-controls="v2_2_0">
                                                Version 2.2.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 16/03/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_2_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Ajout d'une modération des photos de profil des utilisateurs</li>
                                                    <li>Modification de la redirection après la modification de la note d'un étudiant : L'utilisateur revient désormais sur le formulaire de modification d'une note, ce qui permet d'enchaîner plus rapidement plusieurs notes.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_1_0" aria-expanded="true" aria-controls="v2_1_0">
                                                Version 2.1.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 16/03/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_1_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Ajout du serveur SMTP du site</li>
                                                    <li>Récupération des mots de passe oubliés</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v2_0_0" aria-expanded="true" aria-controls="v2_0_0">
                                                Version 2.0.0 <span class="badge bg-danger">BETA</span> <em>(sortie le 13/03/2024)</em>
                                            </button>
                                        </h2>

                                        <div id="v2_0_0" class="accordion-collapse collapse" data-bs-parent="#changelogAccordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Refonte complète de l'application sous forme d'un site Web</li>
                                                    <li>Accessibilité de l'application depuis un ordinateur, un smartphone ou encore une tablette</li>
                                                    <li>Accessibilité de l'application via des comptes utilisateurs, y compris par les étudiants</li>
                                                    <li>Suppression de la fonctionnalité d'édition automatisée de bulletin de retenus (inutile au vue du nombre de retenus distribuées jusqu'à maintenant)</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "includes/components/footer.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}