<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>LOSPAÉ | {% block title %}{% endblock %}</title>
        <meta charset="UTF-8" />
        <link rel="favicon icon" type="image/x-icon" href="http://lospae.local/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="http://lospae.local/template/compiled/css/app.css" />
        <link rel="stylesheet" type="text/css" href="http://lospae.local/template/compiled/css/app-dark.css" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <script src="http://lospae.local/template/static/js/initTheme.js"></script>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
